In [1]:
import pandas as pd
import numpy as np

In [2]:
url1= r'C:\Users\ullma\Documents\Google_Drive\Desktop\Faculdade\2020-1\PTCC\data\orders.csv'
data1= pd.read_csv(url1, sep=',')
data1

url2= r'C:\Users\ullma\Documents\Google_Drive\Desktop\Faculdade\2020-1\PTCC\data\customers.csv'
data2= pd.read_csv(url2, sep=',')
data2

url3= r'C:\Users\ullma\Documents\Google_Drive\Desktop\Faculdade\2020-1\PTCC\data\orders_items.json'
data3= pd.read_json(url3, encoding='utf-8')
data3['customer_id'] = None
data3

,order_id,product_id,order_approved_at,order_approved_at_month,customer_id
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,2017-09-13 09:45:35,9,None
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,2017-04-26 11:05:13,4,None
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,2018-01-14 14:48:30,1,None
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,2018-08-08 10:10:18,8,None
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,2017-02-04 14:10:13,2,None
...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,4aa6014eceb682077f9dc4bffebc05b0,2018-04-25 04:11:01,4,None
112646,fffcd46ef2263f404302a634eb57f7eb,32e07fd915822b0765e448c4dd74c828,2018-07-17 04:31:48,7,None
112647,fffce4705a9662cd70adb13d4a31832d,72a30483855e2eafc67aee5dc2560482,2017-10-24 17:14:25,10,None
112648,fffe18544ffabc95dfada21779c9644f,9c422a519119dcad7575db5af1ba540e,2017-08-15 00:04:32,8,None
112649,fffe41c64501cc87c801fd61db3f6244,350688d9dc1e75ff97be326363655e01,2018-06-09 17:10:13,6,None

### Passos
- Verificar se o customer_id existe na tabela orders
- Se existe busca quais order_item são dessa order
- Coloca no campo order.customer_id o customer_id relacionado

In [ ]:
only_cust_ids = data2[['customer_id', 'customer_unique_id']].values
result_list = [];

counter = 0
for ids in only_cust_ids:
     # if order has customer
     result = data1[(data1.customer_id == ids[0])]
     order_w_cust = result.order_id.values[0]
    
     # if item has order
     result = data3[(data3.order_id == order_w_cust)]
     result = result.values
     if len(result) > 0:
         result_list.append([ids[0], ids[1], order_w_cust, result[0][1], result[0][2], result[0][3]]);
        
     counter = counter + 1
     if counter % 1000 == 0 :
        print(counter)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000

In [39]:
#unique = data[['order_id']].values
#type(x)
#len(np.unique(x))

In [101]:
type(result_list)

list

In [106]:
pd.DataFrame(result_list).to_csv(r'C:\Users\ullma\Documents\Google_Drive\Desktop\Faculdade\2020-1\PTCC\data\new.csv')